html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 0px;
	background:black;
}
.social {
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.social:hover {
	width: 50.3%;
	height: 50.3%;
	z-index: 2;
}

#youtube {
    top: 0px;
    left: 0px;
    background-color: #ff0000;
}

#youtube:hover {
	border-right: 1px solid rgba(0,0,0,.7);
	border-bottom: 1px solid rgba(0,0,0,.7);
}

#twitch {
    top: 0px;
    right: 0px;
    background-color: #6441a5;
}

#twitch:hover {
	border-left: 1px solid rgba(0,0,0,.7);
	border-bottom: 1px solid rgba(0,0,0,.7);
}

#twitter {
    bottom: 0px;
    left: 0px;
    background-color: #1da1f2;
}

#twitter:hover {
	border-right: 1px solid rgba(0,0,0,.7);
	border-top: 1px solid rgba(0,0,0,.7);
}

#instagram {
    bottom: 0px;
    right: 0px;
    background-color: c13584;
}

#instagram:hover {
	border-left: 1px solid rgba(0,0,0,.7);
	border-top: 1px solid rgba(0,0,0,.7);
}

#photo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.social img {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0px;
    text-decoration: none;
}
